:host {
    width: 100%;
    height: 100%;
    background: #171717;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    overflow-y: scroll;
    gap: 30px;

    .posts {
        width: 750px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .post {
            background: #262626;
            border: 1px solid #404040;
            border-radius: 5px;

            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 10px;

            .author {
                width: 100%;
                height: fit-content;
                display: flex;
                gap: 10px;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 3px;
                }

                .name {
                    width: fit-content;
                    display: flex;
                    flex-direction: column;
                    font-family: "Roboto";
                    justify-content: center;

                    .display_name {
                        color: #fbbf24;
                        font-size: 16px;
                    }

                    .username {
                        color: #a3a3a3;
                        font-size: 14px;
                    }
                }

                .padding {
                    flex: 1;
                }

                .date {
                    font-family: "Roboto";
                    font-size: 16px;
                    color: #a3a3a3;
                }
            }

            .content {
                font-family: "Roboto";
                font-size: 16px;

                .post-content {
                    width: 100%;
                    height: fit-content;

                    .media {
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 10px; 

                        img {
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
    }

    .load-more {
        width: 750px;
        height: fit-content;
        box-sizing: border-box;

        button {
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            padding: 10px;
            background: #f59e0b;
            font-family: "Roboto";
            font-weight: 700;
            color: #171717;
            cursor: pointer;
            font-size: 16px;
            border-radius: 5px;
            border: 0px;
            transition: .125s;

            &:hover {
                background: #d97706;
            }

            &:disabled {
                background: #97560b;
                cursor: default;
            }
        }

        span {
            font-size: 16px;
            font-family: "Roboto";
        }
    }
}