<div class="posts">
    @for (post of posts(); track post) {
        @if (post.sensitive == false && post.reblog == null) {
        <div class="post">
            <div class="author">
                <img [src]="post.account.avatar">
                <div class="name">
                    <span class="display_name">{{post.account.display_name}}</span>
                    <span class="username">{{post.account.username}}</span>
                </div>
                <div class="padding"></div>
                <div class="date">
                    {{post.created_at | date: 'short'}}
                </div>
            </div>
            <div class="content">
                <span class="post-content">
                    <span [innerHTML]="post.content"></span>
                    @if (post.media_attachments.length > 0 && post.sensitive == false) {
                    <div class="media">
                        @for (media of post.media_attachments;track media) {
                            @if (media.type == "image") {
                                <img [src]="media.url">
                            }
                        }
                    </div>
                    }
                </span>
            </div>
        </div>
        }
    }
</div>
  
<div class="load-more">
    @if (hasMore() && !loading()) {
        <button (click)="loadMore()">Load more</button>
    }
    @if (loading()) {
        <span>Loading...</span>
    }
    @if (!hasMore()) {
        <span>No more posts.</span>
    }
</div>